<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:allowBackup="false" android:label="PocketLore" android:supportsRtl="true" android:theme="@style/PocketLoreTheme">
        <activity android:name=".AttachmentsActivity" android:exported="false" />
        <activity android:name=".PersonalDocumentsActivity" android:exported="false" />
        <provider android:name=".NotebookExportProvider" android:authorities="${applicationId}.notebook" android:exported="false" android:grantUriPermissions="true" />
        <activity android:name=".SavedActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SourceReaderActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ScaleActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TravelActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
